/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 11px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: #F2F2F2
}

body {
    margin:0px;
}

/**Header**/
a {
    color: inherit;
    text-decoration: none;
}

/**Barre Nav**/
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.sous-nav {
    display: flex;
}

header nav a {
    padding: 2rem;
    font-family: 'Raleway',sans-serif;
    border-top: 3px solid transparent;
}

nav a:hover {
    border-top-color: blue;
    color: blue;
}

#logo {
    margin-right: auto;
    padding: 0 0.5rem;
    height: 30px;
}

/**Formulaire**/
h1 {
    font-size: 20px;
}
.wrapper {
    padding: 0 1rem;
}

.search-form {
    display: flex;
}

.search-form i {
    padding: 1rem 1.2rem;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
    color: black;
}

.search-form button i {
    display: none;
}

.search-form input {
    padding: 1rem 3.5rem;
    border: 1px solid #f2f2f2;
}

.search-form button {
    background-color: var(--main-color);
    color: #f2f2f2;
    border-radius: 0 15px 15px 0;
    border: 1px solid #f2f2f2;
    padding: 1rem 1.5rem;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.search-form input::placeholder {
    font-weight: bold;
    font-size: 18px;
}

.centre-ville {
    padding: 1rem;
}

/**Filtres**/
.filtres-liste {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.filtres {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    gap: 1.5rem;
}
.filtres span{
    font-weight: bold;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    padding: 1rem;
    font-size: 15px;
}

.filtres span:hover {
    cursor: pointer;
    background-color: #deebff;
    color: var(--main-color);
}

.fa-money-bill-wave, .fa-person, .fa-heart, .fa-fire {
    color: var(--main-color);
    padding-right: 0.5rem;
    font-size: 20px;
}

/**Résultat recherche**/
.resultat-recherche {
    display: flex;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}

.fa-info {
    color: var(--main-color);
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    padding: 0.5rem 0.8rem;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

section a {
    font-weight: bold;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
}

.hotel-marseille {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font
}

.carte-hotel img {
    border-radius: 20px 20px 0 0;
    width: 96%;
    height: 124px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    object-fit: cover;
}

.carte-hotel a:hover {
    cursor: pointer;
    color: var(--main-color);
}

.hotel-marseille :hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all 200ms;
}

article p {
    font-size: 13px;
}

article .carte-hotel h4, p {
    margin-bottom: 8px;
    margin-top: 5px;
    margin-left: 15px;
}

article .div-stars {
    margin-left: 15px;
    margin-bottom: 10px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**Activité**/

.div-activités {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.carte-activité {
    width: 22%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.carte-activité:hover {
    transform: scale(1.02);
    transition: all 200ms;
    cursor: pointer;
}

.carte-activité img {
    width: 100%;
    height: 370px;
    border-radius: 20px 20px 0 0;
    object-fit: cover; /**netteter img**/
}

.carte-activité a {
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.carte-activité a:hover {
    color: #0065FC;
}

/**Footer**/
footer {   /**heigfht footer a modif**/
    background-color: #F2F2F2;
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    gap: 3rem;
}

footer h2 {
    font-size: 20px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}

footer a {
    padding-bottom: 10px;
}

footer a:hover {
    transform: scale(1.02);
    transition: all 200ms;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hotel-marseille {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: auto;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .carte-activité img {  
        height: 200px;  /**modif taille hauteur**/
    }

    .search-form button i {
        display: none;
        background-color: inherit;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    header nav img {
        margin: auto;
        margin-top: 10px;
    }
    .sous-nav {
        width: 100%;
    }

    .sous-nav a {
        width: 50%;
        text-align: center;
        border-bottom: 2px solid #d9d9d9;
    }

    .sous-nav a:hover {
        border-bottom: 2px solid #0065FC;
        border-top: 2px solid transparent;
    }

    .search-form {
        display: flex;
        justify-content: center;
    }

    main h1 {
        font-size: 22px;
        margin-left: 1rem;
    }

    main .search-icon {
        display: none;
    }

    .search-form button i {
        display: inline;
        color: white;
        background-color:inherit;
        padding: 0px;
        font-size: 17px;
        font-weight: bold;
    }

    .filtres{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .hotel-marseille {
        display: flex;
        flex-direction: column;
    }

    .hotel-marseille article {
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .div-activités {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column-reverse;
    }

    .carte-activité {
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
}